body  {
  background-image: url(assets/images/back.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.bck
{
  background-image: url(assets/images/giph.gif);
  background-size: cover;
  
}

.hi
{
   color:white;
  font-weight: 600; 
}

.imh
{
    background-image: url(assets/images/swt.jpg);
    background-size: cover;

    
}

.about-me {
  text-align: center;
}

.lo
{
  height: 600px;
}

.hitn
{
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.yu
{
  margin-left: auto;
  margin-right: auto;
}
